header{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  border-top: 1px grey solid;
  border-bottom: 1px gray solid;
}

a{
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  color: gray;
  text-decoration: none;
}
.a1:hover{
  color:black;
  background-color:#f57b42;
  padding: 5px 5px;
  border-radius: 5px;
}
.company-name{
  color: #f57b42;
  font-size: 25px;
  font-weight: 700;
  font-family: sans-serif;
}
.company-name:hover{
  color:white;
  background-color:#f57b42;
  padding: 5px 5px;
  border-radius: 5px;
}
.navright{
  float: right;
  background-color: #f57b42;
  border-radius: 4px;
  border-style: none;
  color: aliceblue;
  font-size: 25px;
}



.content{
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 50px;
  overflow: auto;
}
.orange1{
  color: #f57b42;
  font-size: 15px;
  line-height: 0mm;
}
.orange{
  color: #f57b42;
}
.heading{
  font-size: 40px;
  font-weight: 500;
}

.hp{
  line-height: 10%;
  white-space: nowrap;
  display: inline;
}
.para{
  font-size: 20px;
}
.Bodyimage{
  float: right;
}
.btn1{
  border-radius: 10px;
  padding: 15px 100px;
  text-align: center;
}
.tryvyorius{
  background-color: #f57b42;
  border-color:  #f57b42;
  color: white;
  margin-left: 20px;
}
.learnmore{
  background-color: white;
  border:solid;
  border-color:#f57b42 ;
  color: #f57b42;
}
.btn1:hover{
  font-size: 125%;
}